.box {
  opacity: 0.97;
}
.panel {
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 85%),
    0 0px 0 1px rgb(10 10 10 / 10%);
  font-size: 15px;
}
.panel-block {
  display: block;
}
