<div class="container box">
  <div class="columns is-multiline">
    @for (class of allClasses; track class) {
      <div class="column is-6">
        @if (makeClassObs(class) | async; as raiders) {
          <nav
            class="panel is-primary"
            >
            <p class="panel-heading">
              <img
                height="15"
                width="15"
                [src]="'./assets/images/class-icons/tiny/' + class + '.gif'"
                />
              &nbsp; {{ class }} <small>({{ raiders.length }})</small>
            </p>
            @for (raider of raiders; track raider) {
              <a
                class="panel-block"
                [routerLink]="['/raider', raider.name]"
                >
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">{{ raider.name }}</div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <span class="tag" [title]="raider.archetype"
                        >{{ raider.spec }} &nbsp;
                        <fa-icon [icon]="getIcon(raider.archetype)"></fa-icon
                        ></span>
                      </div>
                      <div class="level-item">
                        <span class="tag">{{ raider.attendance_points }}</span>
                      </div>
                    </div>
                  </nav>
                </a>
              }
            </nav>
          }
        </div>
      }
    </div>
  </div>
