<div class="container box">
  <div class="columns is-multiline">
    <div class="column is-6" *ngFor="let class of allClasses">
      <nav
        class="panel is-primary"
        *ngIf="makeClassObs(class) | async as raiders"
      >
        <p class="panel-heading">
          <img
            height="15"
            width="15"
            [src]="'./assets/images/class-icons/tiny/' + class + '.gif'"
          />
          &nbsp; {{ class }} <small>({{ raiders.length }})</small>
        </p>
        <a
          class="panel-block"
          *ngFor="let raider of raiders"
          [routerLink]="['/raider', raider.name]"
        >
          <nav class="level">
            <div class="level-left">
              <div class="level-item">{{ raider.name }}</div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <span class="tag" [title]="raider.archetype"
                  >{{ raider.spec }} &nbsp;
                  <fa-icon [icon]="getIcon(raider.archetype)"></fa-icon
                ></span>
              </div>
              <div class="level-item">
                <span class="tag">{{ raider.attendance_points }}</span>
              </div>
            </div>
          </nav>
        </a>
      </nav>
    </div>
  </div>
</div>
