<div *ngIf="zone$ | async as zone; else notFound">
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a
            title="Open Wowhead"
            [href]="'https://www.wowhead.com/cata/zone=' + zone.zoneId"
            target="_blank"
            [appWowheadTooltip]="zone"
            >{{ zone.name }} <fa-icon [icon]="faExternalLinkAlt"></fa-icon
          ></a>
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="box" *ngIf="(zoneItemSources$ | async).length > 1">
      <div class="tags" *ngIf="chosenSource$ | async as chosenSource">
        <span
          class="tag is-black is-medium"
          *ngFor="let source of zoneItemSources$ | async"
          (click)="sourceChosen(source)"
          [class.is-primary]="chosenSource === source"
        >
          <a>{{ source }}</a>
        </span>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box" *ngIf="chosenSource$ | async as chosenSource">
          <p class="title">
            <strong>{{ chosenSource }}</strong> Loot
          </p>
          <article
            class="media"
            *ngFor="let item of getSourceLoot(chosenSource) | async"
          >
            <div class="media-content">
              <div class="content">
                <a
                  [appWowheadTooltip]="item"
                  [routerLink]="['/item', item.id]"
                  >{{ item.name }}</a
                >&nbsp;&nbsp;
                <ng-container
                  *ngIf="
                    getNextRecipient(item) | async as recipientGrp;
                    else noRankings
                  "
                >
                  &nbsp;
                  <small
                    class="is-size-6 has-text-warning"
                    *ngIf="noneListed(recipientGrp)"
                  >
                    <abbr
                      title="All of these raiders did not list the item, but are still eligible."
                    >
                      <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                      Unlisted
                    </abbr>
                  </small>
                  &nbsp;
                  <div class="tags pt-1">
                    <span
                      class="tag is-black"
                      *ngFor="let recipient of recipientGrp"
                    >
                      <a [routerLink]="['/raider', recipient.raider.name]">
                        {{ recipient.raider.name }}
                      </a>

                      &nbsp;
                    </span>
                  </div>
                </ng-container>

                <ng-template #noRankings>
                  <small>No Rankings.</small>
                </ng-template>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <app-loot-feed
            [zone]="zone"
            [source]="chosenSource$ | async"
          ></app-loot-feed>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #notFound>
  <h1 class="title">Zone not found</h1>
</ng-template>
