.media-content {
  min-height: 3.5rem;
  overflow-x: visible;
}
.tag.is-waiting {
  background-color: #3f5fffc2;
}

.media.is-odd-group {
  background-color: #2b3131 !important;
  box-shadow: 0px 16px 0px 0px #2b3131;
}

.media.is-even-group {
  // Intentionally empty
}
.media:first-of-type {
  margin-top: 1rem;
  padding-top: 1rem;
}
