<p class="title">
  <a *ngIf="!noRouteLink" [routerLink]="['/raider', raider.name]">
    {{ raider.name }}'s
  </a>
  <ng-container *ngIf="noRouteLink"> {{ raider.name }}'s </ng-container> Loot
  List
</p>
<article class="media" *ngFor="let ranking of raider.rankings">
  <figure class="media-left has-text-centered mx-0 my-0" style="width: 5rem;">
    <h2 class="is-2 mb-0">{{ ranking.ranking }}</h2>
    <small class="is-size-6">
      <abbr title="Effective Points (ranking + attendance)">{{
        ranking.ranking + raider.attendancePoints
      }}</abbr>
    </small>
  </figure>
  <div class="media-content">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="content">
            <p class="has-text-left">
              <strong *ngIf="ranking.loot; else missingLoot"
                ><a
                  [appWowheadTooltip]="ranking.loot"
                  [routerLink]="['/item', ranking.loot.id]"
                  >{{ ranking.itemName }}</a
                ></strong
              >
              <ng-template #missingLoot>
                <p class="is-size-4 has-text-danger">
                  SHEET ISSUE: "{{ ranking.itemName }}"
                </p>
              </ng-template>
            </p>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div
          class="level-item"
          *ngIf="receivedLoot(ranking) as receivedLoot; else notReceived"
        >
          <div class="tags has-addons" title="The raider looted this item already on the specified date.">
            <span class="tag is-medium is-success"
              ><span class="icon is-large">
                <fa-icon [icon]="faCheck"></fa-icon> </span
            ></span>
            <span class="tag is-medium is-black"
              >{{ receivedLoot.date | date }}</span
            >
          </div>
        </div>
        <ng-template #notReceived>
          <div class="tags has-addons" *ngIf="competition[ranking.itemName]">
            <span
              class="tag is-medium"
              [class.is-success]="competition[ranking.itemName].length === 0"
              [class.is-primary]="competition[ranking.itemName].length <= 3"
              ><span class="icon is-large">
                <fa-icon [icon]="getCompetitionIcon(competition[ranking.itemName].length)"></fa-icon> </span
            ></span>
            <span class="tag is-medium is-black"
              ><span *ngIf="competition[ranking.itemName].length === 0" title="This raider will receive the next drop of this item!"
                >Up Next!</span
              ><span *ngIf="competition[ranking.itemName].length > 0" title="How many people are ahead or tied with the raider on this item.">
                Competition: {{ competition[ranking.itemName].length }}
              </span></span
            >
          </div>
        </ng-template>
      </div>
    </nav>
  </div>
</article>
