<div *ngIf="raider$ | async as raider">
  <section class="hero is-small is-black">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a
            [href]="makeLogsUrl(raider)"
            target="_blank"
            title="Open Warcraft Logs"
            ><span>
              {{ raider.name }} </span
            >&nbsp;<span class="icon"> <fa-icon [icon]="faChartLine"></fa-icon> </span
          ></a>
        </h1>
        <h2 class="subtitle">
          <img
            height="15"
            width="15"
            [src]="'./assets/images/class-icons/tiny/' + raider.class + '.gif'"
          />{{ raider.class }}
          <br />
          <div class="has-text-centered">
            <progress
              class="progress mb-0"
              max="100"
              [value]="listProgress.progress"
            ></progress>
            <span class="has-text-centered is-size-5 is-grey-light"
              >List Progress: {{ listProgress.rankingsReceived }} /
              {{ listProgress.rankings }}</span
            >
          </div>
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column is-5">
        <div class="box">
          <app-loot-list [raider]="raider" [noRouteLink]="true"></app-loot-list>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <p class="title">Loot History</p>

          <article class="media" *ngFor="let loot of raider.receivedLoot">
            <div class="media-content">
              <div class="content">
                <h4 class="is-size-4">
                  <strong
                    ><a [routerLink]="['/item', loot.itemId]"
                      >{{ loot.sheetName }}
                    </a></strong
                  >
                  -
                  <small>{{ loot.date | date }}</small>
                </h4>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column is-3">
        <div class="box">
          <p class="title">
            Attendance
            <small class="is-size-5 has-text-right"
              >(Total: {{ raider.attendancePoints }})</small
            >
          </p>

          <article class="media" *ngFor="let attendance of raider.attendance">
            <div class="media-content">
              <div class="content">
                <div class="tags has-addons">
                  <span
                    class="tag is-medium"
                    [ngClass]="getTagColor(attendance.points)"
                    ><span class="icon is-medium">
                      <fa-icon [icon]="getIcon(attendance.points)"></fa-icon>
                    </span>
                    &nbsp; ({{ attendance.points }})</span
                  >
                  <span class="tag is-medium is-black">{{
                    attendance.date | date
                  }}</span>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
