<div class="form mb-2" [formGroup]="form" *ngIf="!noSearch">
  <div class="field has-addons">
    <div class="control is-expanded mr-1">
      <ng-select
        [items]="items$ | async"
        bindLabel="name"
        formControlName="selectedItem"
        [trackByFn]="trackByFn"
        [minTermLength]="2"
        [loading]="loading"
        placeholder="Lookup Rankings for an Item"
        typeToSearchText="Find Loot Rankings"
        [typeahead]="input$"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          {{ item.name }} - <small>{{ item | zone }}</small>
        </ng-template>
      </ng-select>
    </div>
    <div
      class="control announce-btn"
      *ngIf="selectedItem$ | async as grp"
      title="Copy Raid Warning Announcement"
    >
      <a class="button" (click)="copyToClipBoard(grp)">
        <span class="icon">
          <fa-icon [icon]="faBullhorn"></fa-icon>
        </span>
      </a>
    </div>
  </div>
</div>
<article class="media" *ngFor="let group of selectedItem$ | async">
  <figure class="media-left has-text-centered" style="width: 5rem">
    <h1 class="is-1">{{ group.points }}</h1>
    <small class="is-size-6 has-text-warning" *ngIf="group.allUnlisted">
      <abbr
        title="All of these raiders did not list the item, but are still eligible."
      >
        <fa-icon [icon]="faExclamationTriangle"></fa-icon> Unlisted
      </abbr>
    </small>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="has-text-right is-size-5">
        <a
          [appWowheadTooltip]="group.rankings[0]"
          [routerLink]="['/item', group.rankings[0].itemId]"
          >{{ group.rankings[0].sheetName }}</a
        >
        <small *ngIf="group.rankings[0].sheetName !== group.rankings[0].name">
          - ({{ group.rankings[0].name }})
        </small>
        <small *ngIf="!hideSource"> - {{ group.rankings[0] | zone }}</small>
        <br /><br />
        <span class="tags">
          <span class="tag is-black" *ngFor="let raider of group.rankings"
            ><a [routerLink]="['/raider', raider.raiderName]">
              {{ raider.raiderName }}
            </a>
            &nbsp;</span
          >
        </span>
      </p>
    </div>
  </div>
</article>
<div
  *ngIf="form.get('selectedItem').touched && !(selectedItem$ | async)?.length"
>
  No rankings found.
</div>
