<section class="section" *ngIf="state.raiders$ | async as raiders">
  <div class="columns">
    <div class="column is-8">
      <div class="columns">
        <div class="column">
          <article class="box is-dark">
            <ng-container
              *ngIf="state.selectedRaider$ | async as raider; else noRaider"
            >
              <app-loot-list [raider]="raider"></app-loot-list>
            </ng-container>
            <ng-template #noRaider>
              Select a Raider from the top-right header dropdown.
            </ng-template>
          </article>
        </div>
        <div class="column">
          <article class="box is-dark">
            <p class="title">Loot Lookup</p>
            <app-loot-lookup></app-loot-lookup>
          </article>
        </div>
      </div>
    </div>
    <div class="column">
      <article class="box is-dark">
        <app-loot-feed></app-loot-feed>
      </article>
    </div>
  </div>
</section>
