<section class="section" *ngIf="raiders$ | async as raiders">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box is-dark">
            <app-loot-list></app-loot-list>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box is-dark">
            <app-loot-lookup></app-loot-lookup>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box is-dark">
        <app-loot-feed></app-loot-feed>
      </article>
    </div>
  </div>
</section>
