@if (state.raiders$ | async; as raiders) {
  <section class="section">
    <div class="columns">
      <div class="column is-8">
        <div class="columns">
          <div class="column">
            <article class="box is-dark">
              @if (state.selectedRaider$ | async; as raider) {
                <app-loot-list [raider]="raider"></app-loot-list>
              } @else {
                Select a Raider from the top-right header dropdown.
              }
            </article>
          </div>
          <div class="column">
            <article class="box is-dark">
              <p class="title">Loot Lookup</p>
              <app-loot-lookup></app-loot-lookup>
            </article>
          </div>
        </div>
      </div>
      <div class="column">
        <article class="box is-dark">
          <app-loot-feed></app-loot-feed>
        </article>
      </div>
    </div>
  </section>
}
