<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="content has-text-centered">
          <p>
            <fa-icon [icon]="faDiscord" size="2x"></fa-icon>
            <code>Discord: pi9</code>
          </p>
        </div>
      </div>
      <div class="level-item ml-2">
        <a href="https://github.com/bffs-wow/loot" target="_blank">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          <code>Github</code>
        </a>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <iframe
          src="https://discord.com/widget?id=662548040577712131&theme=dark"
          width="350"
          height="400"
          allowtransparency="true"
          frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        ></iframe>
      </div>
    </div>
  </nav>
</footer>
