<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="content has-text-centered">
          <p>
            Problems? DM me on discord:
            <code class="has-text-light">apples#6370</code>
          </p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <article class="message is-danger">
          <div class="message-header">
            <p>Disclaimer</p>
          </div>
          <div class="message-body">
            <p>
              PLEASE double check all points/calculations against the source spreadsheet!
            </p>
          </div>
        </article>
      </div>
    </div>
  </nav>
</footer>
