<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="content has-text-centered">
          <p>
            <fa-icon [icon]="faDiscord" size="2x"></fa-icon>
            <code class="has-text-light">Discord: apples#6370</code>
          </p>
        </div>
      </div>
      <div class="level-item ml-2">
        <a href="https://github.com/bffs-wow/loot" target="_blank">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          <code class="has-text-light">Github</code>
        </a>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item"></div>
    </div>
  </nav>
</footer>
